## Import Libraries

In [3]:
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd

data = pd.read_csv('./Dataset/dataset_skill.csv', delimiter=';')

# Fill the blanks
data['Sentence #'].fillna(method='ffill', inplace=True)

In [5]:
data

          Sentence #        Word       Tag
0       sentence 411  Pendidikan         O
1       sentence 411     minimal         O
2       sentence 411          S1         O
3       sentence 411        dari         O
4       sentence 411     Jurusan         O
...              ...         ...       ...
418863  sentence 410      system  B-HSkill
418864  sentence 410     operasi  I-HSkill
418865  sentence 410         dan         O
418866  sentence 410    database  B-HSkill
418867  sentence 410           .         O

[418868 rows x 3 columns]

## Convert to spacy format

In [7]:
sentences = []
current_sentence = []
current_sentence_num = None
for _, row in data.iterrows():
    if row['Sentence #'] != current_sentence_num:
        if current_sentence:
            sentences.append(current_sentence)
        current_sentence = []
        current_sentence_num = row['Sentence #']
    current_sentence.append((row['Word'], row['Tag']))

if current_sentence:
    sentences.append(current_sentence)

# Convert to spaCy format
def convert_to_spacy_format(sentences):
    training_data = []
    for sentence in sentences:
        words = [word for word, tag in sentence]
        entities = []
        start = 0
        for word, tag in sentence:
            end = start + len(word)
            if tag != 'O':
                entities.append((start, end, tag))
            start = end + 1
        training_data.append({"tokens": words, "entities": entities})
    return training_data

data = convert_to_spacy_format(sentences)

In [12]:
data[0]

{'tokens': ['Pendidikan',
  'minimal',
  'S1',
  'dari',
  'Jurusan',
  'Teknik',
  'Informatika',
  ',',
  'Ilmu',
  'Komputer',
  ',',
  'Sistem',
  'Informasi',
  '.',
  'Memahami',
  'konsep',
  'dasar',
  'pemrograman',
  '.',
  'Menguasai',
  'pembuatan',
  'web-based',
  'application',
  'dengan',
  'Javascript',
  ',',
  'CSS3',
  '.',
  'Menguasai',
  'Vue',
  'JS',
  '.',
  'Memahami',
  'konsep',
  'basis',
  'data',
  'dan',
  'menguasai',
  'SQL',
  '.',
  'Menguasai',
  'pembuatan',
  'API',
  '/',
  'SoAP',
  'Web',
  'Service',
  '.',
  'Programmer',
  'PHP',
  ':',
  'Menguasai',
  'framework',
  'Laravel',
  '.',
  'Programmer',
  'Java',
  ':',
  'Menguasai',
  'bahasa',
  'pemrograman',
  'Java',
  ',',
  'framework',
  'Springboot',
  '.',
  'Nilai',
  'tambah',
  ':',
  'Menguasai',
  'ISo',
  '8583',
  'Nilai',
  'tambah',
  ':',
  'Menguasai',
  'Apache',
  'Camel',
  '.',
  'Pernah',
  'terlibat',
  'dalam',
  'pembuatan',
  'perangkat',
  'lunak',
  '.',
  'Mau',
  'dan',
  'mampu',
  'belajar',
  'hal-hal',
  'baru',
  'dengan',
  'cepat',
  '.',
  'Memiliki',
  'kemampuan',
  'komunikasi',
  'yang',
  'baik',
  '.',
  'Mampu',
  'bekerja',
  'dalam',
  'team',
  'maupun',
  'individu',
  '.',
  'Bersedia',
  'mengikuti',
  'tes',
  'masuk',
  'dan',
  'wawancara',
  '.'],
 'entities': [(113, 124, 'B-HSkill'),
  (147, 156, 'B-HSkill'),
  (157, 168, 'I-HSkill'),
  (176, 186, 'B-Tech'),
  (189, 193, 'B-Tech'),
  (206, 209, 'B-Tech'),
  (210, 212, 'I-Tech'),
  (256, 259, 'B-HSkill'),
  (282, 285, 'B-Tech'),
  (288, 292, 'B-Tech'),
  (293, 296, 'I-Tech'),
  (297, 304, 'I-Tech'),
  (307, 317, 'B-HSkill'),
  (318, 321, 'B-Tech'),
  (334, 343, 'B-Tech'),
  (344, 351, 'I-Tech'),
  (354, 364, 'B-HSkill'),
  (365, 369, 'B-Tech'),
  (389, 400, 'B-Tech'),
  (401, 405, 'I-Tech'),
  (408, 417, 'B-Tech'),
  (418, 428, 'I-Tech'),
  (490, 496, 'B-Tech'),
  (497, 502, 'I-Tech'),
  (624, 634, 'B-SSkill'),
  (667, 671, 'B-SSkill'),
  (679, 687, 'B-SSkill')]}

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

In [ ]:
import json

with open('./Dataset/train_data.json', 'w', encoding='utf-8') as f:
    json.dump(train_data, f, ensure_ascii=False, indent=4)

with open('./Dataset/test_data.json', 'w', encoding='utf-8') as f:
    json.dump(test_data, f, ensure_ascii=False, indent=4)